.center {
    margin: auto;
    width: 50%;
    height: 75%;
    padding: 10px;
    text-align: center;
}

.name {
    font-size: .5vw;
    width: 7.5%;
    padding: 1%;
    margin-left: 1%;
    color:  #8ACE00;
    background-color: black;
}

.name:hover {
    cursor: pointer;
    background-color:#8ACE00;
    color: black;
    transition: all 1s;
}

@media screen and (max-width: 500px) {
    .center {
        margin: auto;
        width: 75%;
        height: 100%;
        padding: 10px;
        text-align: center;
    }

    video {
        width: "25%";
    }
    
    .name {
        font-size: 1vw;
        width: 15%;
        padding: 2%;
        margin-left: 2%;
        color:  #8ACE00;
        background-color: black;
    }
    
    .name:hover {
        cursor: pointer;
        background-color:#8ACE00;
        color: black;
        transition: all 1s;
    }
}


